@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

$font-stack: "Montserrat", sans-serif;
$font-body-text: "Raleway", sans-serif;

// colors
$grey: #8A8A8A;
$light-grey: #E5E5E5;
$lighter-grey: #f2f2f2;
$black: #000000;
$white: #ffffff;
$orange: #F18842;
$red: #ad0031;
$mid-red: #920A38;
$dark-red: #500A21;
$pink: #c24d6d;
$green: #339966;
$blue: #009fbc;
$dark-blue: #076a81;
$purple: #7d3fb8;

// tvinger hele løsningen til å bruke spesifisert font, selv ved inline style
* {
    font-family: $font-stack !important;
}

body {
    background-color: $white;
}

// fjerner stygg fokusmarkering
:focus {
     outline:none;
}
::-moz-focus-inner {
     border:0;
}

a {
    color: $white;
}

legend {
    margin-left: -0.1em;
}

.text {
    color: #fff;
    font-size: 0.8em;
}

// for ting vi ikke vil vise i GUIet
.hidden {
     display: none;
}


/*************************************************/
/*                  PAGE LOADING                 */
/*************************************************/

// fjerner loading-gizmo og legger til nytt laget i CSS
#digiforms_progress {
    background-image: none !important;
    border: 16px solid $lighter-grey;
    border-top: 16px solid $pink;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: calc((100vh/2)*0.8);
    animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); }
    100% { transform: rotate(360deg); -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); }
}


/*************************************************/
/*                    INPUT                      */
/*************************************************/
input, textarea {
     border: none !important;
     border-bottom: solid 6px $pink !important;
     border-radius: unset !important;
}
input, text-area {
     border-bottom: solid 6px $black !important;
}


/*************************************************/
/*                   KNAPPER                     */
/*************************************************/
.btn {
    height: 4em;
    width: 100%;
    color: $white;
    border: solid 2px $white;
    background-color: transparent;
    position: relative;
    font-size: 0.9em;
}
.btn:hover, .btn:focus {
    background-color: $dark-red !important;
}

/*************************************************/
/*                    HEADER                     */
/*************************************************/
#header {
     width: 90%;
     margin: 0.8em auto;
     position: relative;

     #header-content {
          display: flex;
          justify-content: space-between;

          .h1 {
               display: none;
          }
          #logout-header {
               display: none;
          }
     }
}
#logo {
    width: 6em !important;
}

.header-folj-arendet { // navn på fane
     font-size: 1.6em;
     padding: 2% 7% 5%;
     font-weight: bold;
     text-transform: uppercase;
}


/*************************************************/
/*                FEILMELDINGER                  */
/*************************************************/
// skjuler alle custom valideringsmeldinger
[id^="validate"] {
    visibility: hidden;
    height: 0px;
}
// legger feilmelding UNDER felt
.label_control {
    width: 100%;
    display: flex !important;
    flex-direction: column-reverse;
}
.digiforms_validation_message {
    font-weight: bold;
    font-size: 0.8em;
    background: none;
    display: block;
    background-color: $pink;
    color: $white;
    padding: 0.5em 1em 1em;
    z-index: 1;
    position: relative;
}


/*************************************************/
/*                  LOGIN-SIDE                   */
/*************************************************/
#popup-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8) !important;
    z-index: 10000;
}

#wrap-login {

     label {
          font-size: 1.1em;
     }

     .reset-password {
          padding: 1em;
          margin-top: 5%;
          background-color: $red;
          max-width: 30em;
          margin-left: auto;
          margin-right: auto;

     }

     .page-container {

          > fieldset > legend {
               @extend .header-folj-arendet;
          }

          .element-container {
              padding: 7%;
              background-color: $red;
          }
     }
}

#password-forgotten {
    margin-left: -0.5em;
}
#password-container {
    position: relative;
}
#view-password {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px !important;
    height: 60px;
    color: transparent !important;
    background-size: 1.8em;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
}
// gjemmer default passordvisningsknapp i IE
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
   display: none;
}


/*************************************************/
/*         MENYSTRUKTUR - FÖLJ ÄRENDET           */
/*************************************************/

// skjuler infotekst som skal vises på stor skjerm
.big-screen {
     display: none;
}

.page-container {
     position: relative;

     h2 {
         display: none;
     }

     #status {
         padding: 3% 7% !important;
     }

     // skjuler container for todelt innhold på større skjerm
     &.big-screen-container {
          display: none;
     }

     &.small-screen-container > fieldset > legend {
          @extend .header-folj-arendet;
     }

     .accordion-content {
          display: none; // alt innhold er lukket by default
          padding: 2em 7%;
          background-color: $lighter-grey;
     }

     .accordion {

          .accordion-btn {
               //-webkit-margin: -0.05em 0em; // iOS legger på noe padding på buttons, dette er for å motvirke dette
               height: 100%;
          }

          .left {
               margin-left: -9%;
          }
          .right {
               margin-right: -9%;
          }

          // Menyknapper - åpne/lukke
          .btn-toggle-menu {
               width: 100%;
               text-align: left;
               color: white;
               font-size: 1.2em;
               font-family: $font-stack;
               font-weight: bold;
               padding: 6.5%;
               padding-left: 3.4em; /* gjør plass til ikon */
               background-size: 1.7em;
               background-position: 0.8em center !important;
               background-repeat: no-repeat;
               border: none;
               position: relative;

               // Setter farge og ikon på hver meny-knapp
               &#btn-historik {
                    background-color: $red;
                    background-image: url("../ImageDB?imageName=icon_history.png");
                    // vising av antall notifications på Historik-knapp
                    > span {
                         display: block;
                    }
                    span span {
                         font-size: 0.6em;
                    }
                    span span:first-of-type {
                         padding: 0.15em 0.5em;
                         border: solid $white 1px;
                    }
               }
               &#btn-komplettera {
                    background-color: $mid-red;
                    background-image: url("../ImageDB?imageName=icon_add_document.png");
               }
               &#btn-om-arendet {
                    background-color: $dark-red;
                    background-image: url("../ImageDB?imageName=icon_information.png");
               }
               // knapp får retningspil for indikasjon på om menyalternativ er åpnet eller ikke
               &::before {
                    content: '';
                    background-image: url("../ImageDB?imageName=icon_toggle_menu.png");
                    background-size: 1.2rem;
                    position: absolute;
                    right: 1.4rem;
                    background-repeat: no-repeat;
                    top: 0;
                    bottom: 0;
                    width: 1.2rem;
                    background-position: 50%;
               }

               // roterer pil som indikerer om boks er åpen eller lukket
               &.open::before {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
               }
          }
          // Lukke-knapper for hver enkelt kategori
          .btn-close-menu {
               border-radius: 50%;
               width: 4em;
               height: 4em;
               overflow: hidden;
               color: transparent;
               margin: auto;
               display: block;
               border: none;
               background-color: $black;
               background-image: url("../ImageDB?imageName=icon_toggle_menu.png");
               background-size: 1.2rem;
               background-repeat: no-repeat;
               background-position: 50% 55%;
               -webkit-transform: rotate(180deg); // bildet vises oppned som default
               transform: rotate(180deg);
          }
          .btn-close-menu:hover, .btn-close-menu:focus {
              background-color: $dark-red;
          }

          #acc-komplettera {
               background-color: $mid-red;
          }
     }


/*************************************************/
/*                  MENY - INFO                  */
/*************************************************/

     // første "valg" i menyen
     .info-container {
          #info-arende {
               background-color: transparent;
               position: absolute;
               top: -0.7em;
               color: transparent !important;
               width: 100%;
               height: 3.5em;
               border: none;

              /* toggle-knapp */
              &::before {
                   background-image: url("../ImageDB?imageName=icon_toggle_menu_black.png") !important;
              }
          }
          #info-text-arendet {
               margin-top: -7% !important;
               padding: 2.5em 7%;
          }
          // bakgrunnen på denne boksen skal være hvit
          .accordion-content {
               background-color: $white;
          }
     }

     /*************************************************/
     /*                MENY - HISTORIK                */
     /*************************************************/

     .message {
          background-color: $white;
          position: relative;
          margin-bottom: 3em;
          position: relative;
          max-width: 36em;
          margin-left: auto;
          margin-right: auto;
          -webkit-box-shadow: 1px 2px 8px 1px rgba(33, 15, 15, 0.2);
          -moz-box-shadow: 1px 2px 8px 1px rgba(33, 15, 15, 0.2);
          box-shadow: 1px 2px 8px 1px rgba(33, 15, 15, 0.2);

          &#temp-message {
               background-color: $blue;
               margin-bottom: 2em;

               div {
                    padding: 1.6em;
               }
          }
          .message_content {
              padding: 2em !important;

              // setter kommentar-pil i underkant av hver melding
              &::after {
                    content:'';
                    height: 0;
                    width: 0;
                    position: absolute;
                    bottom: -2em;
              }

              &.left_content::after {
                    left: 8%;
                    border-top: 2em solid $white;
                    border-right: 2em solid transparent;
              }

              &.midle_content::after {
                    left: calc(50% - 1.4em);
                    border-top: 2em solid $white;
                    border-right: 1.4em solid transparent;
                    border-left: 1.4em solid transparent;
              }

              &.right_content::after {
                   right: 8%;
                   border-top: 2em solid $white;
                   border-left: 2em solid transparent;
              }
          }

          // Setter ulik farge på de forskjellige rollene
          .anmalare_legend {
               background-color: $purple !important;
          }
          .handlaggare_legend {
               background-color: $pink;
          }
          .motpart_legend {
               background-color: $blue;
          }
          .motpart-1_legend {
               background-color: $blue;
          }
          .motpart-2_legend {
               background-color: $green;
          }
          .motpart-3_legend {
               background-color: $orange;
          }

          .role {
               position: absolute;
               top: 1.7em;
               left: 3.4em;
               font-size: 1.2em;
               font-weight: bold;

               &.anmalare {
                    color: $purple;
               }
               &.handlaggare {
                    color: $pink;
               }
               &.motpart, &.motpart-1 {
                    color: $blue;
               }
               &.motpart-2 {
                    color: $green;
               }
               &.motpart-3 {
                    color: $orange;
               }


          }

          .receiver {
               background-image: url("../ImageDB?imageName=icon_arrow_right.png");
               background-repeat: no-repeat;
               background-size: 1.2em;
               background-position: top left;
               margin-left: 1.9em;

               .receiver-list {
                    margin: 2.8em 1.6em 1.2em;
               }
          }
          .date {
               position: absolute;
               top: 1em;
               right: 1em;
               color: $grey;
          }

          .free-text {
               line-height: 1.8;
          }

          .link {
               text-decoration: underline;
               font-weight: bold;
               margin-top: 1.2em;
               cursor: default !important;
          }
          .link:hover {
               color: $red;
          }

     }
     .message_legend {
          width: 2em !important;
          height: 2em;
          text-align: center;
          padding-top: 0.4em;
          font-size: 1.6em;
          font-weight: bold;
          color: white;
          margin-left: 0em;
          position: absolute;

          // .anmalare {
          //      color: $pink;
          // }
     }



     /*************************************************/
     /*               MENY - KOMLETTERA               */
     /*************************************************/

     #btn-submit {
          background-color: $black;
     }
     .textarea-container {
          position: relative;
          .char-count {
               position: absolute;
               bottom: 0.6em;
               left: 0;
               right: 0;
               text-align: center;
               width: 6em;
               margin: auto;
          }
          label {
               color: transparent;
          }
     }
     // tekst med hjelpetekst
     .upload-helptext {
          color: $white;
          display: inline-block;
          margin-bottom: 1em;
          max-width: calc(100% - 4em);
     }

     .round-btn {
          background-color: black;
          border: solid 1px transparent;
          border-radius: 100%;
          height: 2.8em;
          width: 2.8em;
          color: transparent;
          overflow: hidden;
          position: relative;

          &:hover, &:focus {
               background-color: $dark-red !important;
          }
     }
     // knapp for å vise/skjule hjelpetekst
     .help-btn {
          @extend .round-btn;
          margin-left: 1em;
          top: -0.6em;

          &::after {
               content: "i";
               position: absolute;
               font-size: 1.8em;
               top: 0.1em;
               right: 0;
               color: $white;
               width: 100%;
          }
     }
     .close-btn {
          @extend .round-btn;
          display: block;
          margin-left: auto;
          margin-right: auto;

          &::after {
               content: "\d7";
               position: absolute;
               font-size: 3em;
               top: 0;
               right: 0;
               color: $white;
               line-height: 0.9em;
               width: 100%;
          }
     }

     // setter boks med hjelpetekst til å være skjult som default tilstand
     .help-text {
          display: none;
          background-color: $blue;
          padding: 5% !important;

          div {
               font-size: 16px;
               font-weight: bold !important;
          }
     }

     // liste med opplastede vedlegg (repres. av ett vedleggselement)
     .file-download {
          margin-bottom: 2em;
          position: relative;

          &_content {
               padding: 3%;
               background-color: $red;
          }

          legend {
               position: absolute;
               width: unset !important;
               padding: 0.74em 1em;
               background-color: #fff;
               color: $mid-red;
               font-weight: bold;
               font-size: 1.2em;
               line-height: 1;
               margin: 3%;
          }

          .file-type-dropdown {
               color: transparent;

               .label_text {
                    display: none !important;
               }

               /* fjerne stil, legger til custom */
               select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    -ms-appearance: none;
                    background: url("ImageDB?imageName=icon_toggle_menu.png") no-repeat;
                    background-position: 97% center;
                    background-size: 38px;
                    color: $white !important;
                    height: 3em;
                    padding: 0em 0em 0em 3.8em !important;
                    font-size: 1em !important;
                    font-weight: bold !important;

                    &::-ms-expand {
                         display: none;
                    }

                    &:hover, &:focus {
                         background-color: $mid-red !important;
                    }
               }
          }

         .wrap-file-btns {
               position: relative;
               min-height: 3.4em;
               margin-top: 0.6em;

               .download-btn {
                    width: calc(100% - 4.8em);
                    text-align: left;
                    padding: 1em 2em;
                    border: solid 1px $white;
                    background-color: transparent;
                    color: $white;
                    min-height: 4.2em;
                    word-wrap: break-word;

                    &:hover, &:focus {
                         background-color: $mid-red !important;
                         text-decoration: underline;
                    }
               }

               .delete-btn {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    color: transparent;
                    overflow: hidden;
                    background-color: transparent;
                    border: solid $white 1px;
                    width: 4em;
                    background-image: url("../ImageDB?imageName=icon_delete.png");
                    background-size: 1.8em;
                    background-repeat: no-repeat;
                    background-position: center;

                    &:hover, &:focus {
                         background-color: $mid-red !important;
                    }
               }
          }
     }


     // legger upload-knapp utenfor vinduet
     .file-upload {
          input {
               position: absolute;
               left: -9999px;
          }
          label {
               background-color: $red;
               text-align: center;
               border: solid 2px transparent;
               position: absolute;
               top: 0;
               bottom: 0;
               left: 0;
               right: 0;
               padding-top: 1.2em;
               cursor: pointer;

               &:focus, &:hover {
                   background-color: $dark-red !important;
              }
          }
          #komplettering_upload_vedlegg_wrap {
              width: calc(100% - 4px) !important;
          }
     }

     #logout {
          padding: 7% !important;
     }
}


/*************************************************/
/*                  OM ÄRENDET                   */
/*************************************************/

.role-containers {
     legend {
          padding: 3% 7% !important;
          margin-left: 0em !important;
          margin-bottom: 0.4em;
     }
     #handlaggare_legend {
          margin-bottom: 0;
     }
     [id$="content"] {
          padding: 6% !important;
     }
     > div {
          margin-bottom: 1.8em;
     }
     #info-content {
          padding-top: 10% !important;
          background-color: $light-grey;
     }
}

// tekstrad: kategori og tilhørende verdi
.row {
     display: block;
     padding-bottom: 1.2em;
     // display: flex;
     // font-size: 0.8em;

     :first-child {
          // width: 22%;
          // max-width: 8em;
          // padding-right: 1.6em;
          // text-align: right !important;
          font-weight: bold !important;
          font-size: 0.9em !important;
     }
     :nth-child(2) {
          font-size: 1em;
          word-wrap: break-word;
          word-break: break-all;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
     }
}


/*************************************************/
/*                    FOOTER                     */
/*************************************************/

#wrap-case {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     justify-content: space-between;

     #footer {
          width: 100%;
          margin-top: 6em;

           div {
              width: 86%;
              margin: auto;
          }
     }

}



/*************************************************/
/*                 MEDIA QUERIES                 */
/*************************************************/



/* mob */
@media only screen and (min-width : 321px) {
     .row {
          font-size: 0.9em;
     }

}




@media only screen
and (min-width : 360px) {

     .text {
         font-size: 1em;
     }
     .page-container {

          .accordion {
               .btn-toggle-menu {
                    font-size: 1.4em;
               }
               .row {
                    font-size: 1em;
               }
          }
          .message {
               // .receiver-list {
               //      margin-top: 1.4em !important;
               //      margin-bottom: 1.4em !important;
               // }
               .role {
                    font-size: 1.6em;
                    top: 1em;
                    left: 3.5em;
               }
          }
     }
}


@media only screen
and (min-width : 480px) {

     .page-container .message .message_content {
          padding: 2em 4em 3.6em !important;

          .receiver {
               margin-left: unset;
          }
     }
     .row {
          display: flex;
          padding-bottom: 1.4em;

          :first-child {
               width: 22%;
               max-width: 8em;
               padding-right: 1.6em;
               text-align: right !important;
          }
     }
}


/* ipad portrait */
@media only screen
and (min-width : 768px) {

     #header {
          margin: 2rem 3em;
          width: unset;

          .h1 {
               display: block !important;
               width: calc(100% - 18em);
               text-align: center;
               margin-top: 0.8em;
          }
          #logout-header {
               display: block !important;
               position: absolute;
               right: 0;
               top: 0;

               #btn-logout-header {
                    font-size: .875em !important;
                    background-size: 1.6em;
                    padding-left: 2.1em;
                    width: 8.4em !important;
                    position: absolute;
                    right: 0;
                    top: -2.2em;

                    &:hover {
                         background-image: url("../ImageDB?imageName=icon_log_out_hover.png");
                         color: $red;
                    }
               }

               #logged-in-person {
                    width: 15em;
                    position: absolute;
                    right: 10em;
                    top: -1em;
               }
          }

          #logo {
               width: 12em !important;
          }
     }

     // viser infotekst på stor skjerm
     .big-screen-container {

          #info-text-arendet {
               margin: 0em 2em;
               text-align: center !important;
          }
     }

     .page-container {
          h2 {
               display: block;
               font-size: 2.73em;
               color: white;
               margin-top: 0em;
          }
          #content-historik {
               background-color: $red;

               .date {
                    right: 1.3em;
               }
               .receiver-list {
                   margin-top: 2.8em !important;
               }
          }
          #content-om-arendet {
               background-color: $dark-red;
          }
          #content-info { // vises første gang, før meny er trykket på
               display: block;
               background-color: $white;
               padding-top: 2% !important;

               img {
                    margin-top: 4%;
               }
          }

          .accordion {
               .btn-toggle-menu {
                    padding: 10%;
                    padding-left: 3.6em;
                    background-position: 1em center !important;

                    &::before {
                         background-image: none;
                    }
               }
               @media(hover: hover) {
                    .btn-toggle-menu:hover {
                         background-color: $black !important;
                    }
                    .btn-toggle-menu:focus {
                         text-decoration: underline;
                    }
               }

          }
     }

     #wrap-login {
          .reset-password {
              padding: 3em;
          }

          .page-container {
               background-color: $red;
               color: $white;
               margin: 3rem;
               position: relative;

               &_legend {
                    position: absolute;
                    padding: 3rem !important;
                    font-size: 2.5em !important;
                    margin: unset;
               }
               &_content {
                    padding: 3rem;
               }

               .flex-container {
                    display: flex;

                    > div {
                         width: 50%;
                         padding: 0;
                    }

                    .accordion-btn { // gjemmer knapp for å toggle info
                         display: none;
                    }
                    .accordion-content { // viser alltid infoen på større skjerm
                         display: block;
                         background-color: transparent;
                         padding: 6rem 3rem 0em 0em !important;

                         #info-text-arendet {
                              color: $white !important;
                              margin-top: -1em !important;
                              font-size: 1.2em !important;
                              line-height: 1.5em !important;
                         }
                    }
                    .element-container {
                         border-left: solid 5px $pink;
                         padding-left: 3rem;
                         max-width: 30em;

                         #login_legend {
                              font-size: 1.8em !important;
                         }
                    }
               }
          }
          .header-folj-arendet { // navn på fane
               text-transform: unset;
          }
     }
     .wrap-page {
          display: flex;
          margin: 0em 3rem;
          // viser container for todelt innhold på større skjerm
          .big-screen-container {
               display: block;
               width: 100%;

               #content-komplettera {
                   background-color: $mid-red;
               }
          }
          .small-screen-container {
               min-width: 16em;

               // skjuler alt som ikke er meny-alternativer
               &_legend, #info-arende, #info-arende::before, #status, #logout {
                    display: none !important;
               }

               // skjuler vanlige accordions
               .content-small-screen {
                    display: none !important;
               }
          }
     }
}


/* pc */
@media only screen
and (min-width : 980px) {
     #header, #wrap-login .page-container {
          margin: 2rem 4rem;
     }
     .wrap-page {
          margin: 0em 4rem;

          .message {
               margin-bottom: 4em;
               -webkit-box-shadow: 1px 2px 8px 1px rgba(33, 15, 15, 0.5);
               -moz-box-shadow: 1px 2px 8px 1px rgba(33, 15, 15, 0.5);
               box-shadow: 1px 2px 8px 1px rgba(33, 15, 15, 0.5);

               .date {
                   right: 1.6em !important;
                   top: 1.4em;
               }
          }
     }
}


/* ipad landscape */
@media only screen
and (min-width : 1024px) {

}


/* big screen */
@media only screen
and (min-width : 1280px) {
     .h1 {
          width: calc(100% - 22em) !important;
     }

     .wrap-page {

          .page-container {
               h2 {
                    font-size: 3em;
               }
               .accordion-content {
                    padding: 2.5em 7%;
                    .message {
                         margin-bottom: 6em;
                    }
               }
          }
          .small-screen-container {
              min-width: 22em;
          }
     }
}


/* bigger screen */
@media only screen
and (min-width : 1920px) {

}
